<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <title> Mercado liebre</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
        <link rel = "stylesheet" href = "css/register.css">
    </head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar"> 
            <div class="logo-buscador">
                <img src = "img/logo-mercado-liebre.svg" class = "logo">
                <div class="buscador">
                    <input type="text" placeholder="Buscar productos, marcas"><button><i class="fas fa-search"></i></button>
                </div>
            </div>
            <h2 class="copy-header">
                <i class = "fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <nav class="main-navbar">
            <ul> 
                <li><a href = "#">Ofertas</a></li>
                <li><a href = "#">Tiendas Oficiales</a></li>
                <li><a href = "#">Vender</a></li>
                <li><a href = "#">Ayuda</a></li>
            </ul>

            <ul>
                <li><a href = "/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href = "/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href = "#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <a href="#" class="burger-menu"> 
                <i class="fas fa-bars"></i>
        </a>
    </header>

    <form action="/" method="POST">
        <div class="detalles">
            <label for="nombreyapellido"></label>
            <input type="text" placeholder="Nombre y apellido" id="nombreyapellido" minlength="5" required/>
        </div>
        <div class="detalles">
            <label for="nombreusuario"></label>
            <input type="text" placeholder="Nombre de usuario" id="nombreusuario" minlength="3" required/>
        </div>
        <div class="detalles">
            <label for="email"></label>
            <input type="email" placeholder="E-mail" id="email" required/>
        </div>
        <div>
            <label class="tamaño">Fecha de nacimiento</label>
            <div class="detalles">
                <label for="fecha"></label>
                <input type="date" name="fecha" id="fecha" required/>
            </div>
        </div>
        <div class="detalles">
            <label for="domicilio"></label>
            <input type="text" placeholder="Domicilio" id="domicilio" required/>
        </div>
        <div>
            <label class="tamaño">Perfil del usuario</label>
            <div>
                <input type="radio" name="comprador" value="comprador">
                <label>Comprador</label>
            </div>
            <div>
                <input type="radio" name="vendedor" value="vendedor">
                <label>Vendedor</label>
            </div>
        </div>
        <div>
            <label class="tamaño">Intereses</label>
            <div>
                <input type="checkbox" name="electro" value="electro">
                <label for="electro">Electro</label>
            </div>
            <div>
                <input type="checkbox" name="moda" value="moda">
                <label for="moda">Moda</label>
            </div>
            <div>
                <input type="checkbox" name="hogar" value="hogar">
                <label for="hogar">Hogar</label>
            </div>
            <div>
                <input type="checkbox" name="juguetería" value="juguetería">
                <label for="juguetería">Juguetería</label>
            </div>
            <div>
                <input type="checkbox" name="vidaSana" value="vidaSana">
                <label for="vidaSana">Vida sana</label>
            </div>
        </div>
        <div>
            <label class="tamaño">Foto de usuario</label>
            <div>
                <input type="file" name="avatar" accept=".jpg, .png">
            </div>
        </div>
        <div class="detalles">
            <label for="password"></label>
            <input type="password" placeholder="Contraseña" id= "password" minlength="6"required/> 
        </div>
        <div class="detalles">
            <label for="password"></label>
            <input type="password" placeholder="Confirmar contraseña" id= "password" minlength="6"required/> 
        </div>
        <div>
            <input type="submit" value="Enviar">

            <button type="reset">Borrar</button>
        </div>
    </form>
    <footer>
        <div class="dividiendo-el-footer">
            <article><i class="fas fa-credit-card fa-2x" style="color:#1259c3;"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en 
                puntos de pago. ¡Y siempre es seguro!</p>
            </article>
    
            <article><i class="fas fa-gift fa-2x" style="color:#1259c3;"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            </article>
    
            <article><i class="fas fa-user-shield fa-2x" style="color:#1259c3;"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            </article>
        </div>
            <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </footer>
</body>
</html>
