
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Indie Flower', cursive;
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

.main-header{
    background-color: #EAC926;
    padding:20px;
    width: 100%;
}

/*.main-header-top-bar{
    display: none;
    display: flex;
    flex-direction: row;
    padding-bottom: 5%;
}*/

.logo-buscador{
    display: flex;
    flex-direction: row;
    /*padding-bottom: 5%;*/
}

.logo{
    width: 50%;
    padding: 10px;
}

.buscador{
    display: flex;
    align-items: center;
    font-size: 11px;
}

.buscador input{
    width: 80%;
}

.copy-header {
    font-weight: 400;
    text-align: center;
    font-size: 12px;
    color: black;
    /*width: 100%;*/
}

.main-navbar {
    display:none;
    font-size: 12px;
}

.main-navbar ul{
    list-style: none;
    margin:0;
    padding:0;
}

.main-navbar a{
    text-decoration: none;
    color:black;
    display: inline block;
    padding: 5px 0;
    font-size: 17;
}

.burger-menu{
    background-color: #1259c3;
    color:#ffff;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.banner img{
    width: 100%;
}




main{
    width: 90%;
    margin: 0 auto;
}

.visita{
    margin: 20px 0px;
}

.imagen-productos{
    width: 100%;
}

article div.especificaciones{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

main section h3{
    font-size: 24px;
    color: #666;
    margin-left: 20px;
}

main section article{
    background-color: #fff;
    margin: 10px 0px;
}


main section article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

main section article:hover .descripcion{
    display: block;
}

.precio{
    font-size: 18px;
    width: 30%;
}
.descuento{
    font-size: 16px;
    color: #39b54a;
    width: 70%;
}


.descripcion{
    display: none;
    font-size: 16px;
    color:#8d8585;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color: #39b54a;
    }

    article.articulos i{
        transition: transform 1s;
    }


    article.articulos:hover i{
        transform: rotate(-90deg);
    }





footer article i {
    margin-left: -20px;
    margin-bottom: 10px;
    line-height: -200;
    margin-block-start: 40px;
}


footer p {
    font-size: 12px;
    line-height: 18px;
}


footer h3{
    font-size:16px;
    margin-block-start: -5px;
}

footer{
    background-color: #ffff;
    color: grey;
    padding:20px;
    text-align:center; 
    width: 100%;
}

.copy{
    text-align: left;
    margin-block-start: 50px;
}

@media(min-width:361px){
    /*.descripcion{
        display: block;
    }*/
    
    .articulos{
        /*box-shadow: 0px 0px 10px rgb(100, 100, 100);*/
        width: 45%;
    }

    .main-navbar {
        display: block;
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
    }
    .main-navbar ul{
        list-style: none;
        margin:0;
        padding:0;
        display:flex
    }

    .main-navbar li{
        margin: 0 10px;
    }

    .burger-menu{
        display: none;
    }

    .productoss{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    .precio,
    .descuento{
        width: 50%;
    }

    .main-header-top-bar{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
    }
    .logo-buscador{
        width: 50%;
    }

}

@media(min-width:769px){
    /*.descripcion{
        display: block;
    }*/

    .articulos{
        /*box-shadow: 0px 0px 10px rgb(100, 100, 100);*/
        width: 22%;
    }
    .main-navbar {
        display: block;
    }
    .burger-menu{
        display: none;
    }

    .main-navbar {
        display: block;
        display: flex;
        justify-content: space-between;
        
    }
    .main-navbar ul{
        list-style: none;
        margin:0;
        padding:0;
        display:flex
    }

    .main-navbar li{
        margin: 0 10px;
    }

    .dividiendo-el-footer{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
